In [27]:
%cd /home/imlab/quert-data

/home/imlab/quert-data

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [29]:
with open("./data.json") as f:
    data = json.load(f)

### 1. How many cities (including subregions) where Swiggy is having its restaurants listed? 
#### Ans: **164425** (#subregions + #cities)

In [123]:
cities = list(data.keys())
num_all = []
for city in cities:
    try:
        region_codes = list(data[city]["restaurants"].keys())
        region_codes = [code for code in region_codes if code!="link"]
        num_all.append(len(region_codes)+1) # we have to add "#subregions + #city
    except:
        sub_names = list(data[city].keys())
        sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
        for sub_name in sub_names:
            regions = data[city][sub_name]["restaurants"].keys()
            num_all.append(len(regions)+1)
np.sum(num_all)

164425

### 2. How many cities  (don't include subregions) where Swiggy is having their restaurants listed?
#### Ans: **623**

In [124]:
cities = list(data.keys())
len(cities)

623

### 3. The Subregion of Delhi with the maximum number of restaurants listed on Swiggy?
#### Ans: **Indirapuram**

In [125]:
# find the index of Delhi
idx = cities.index("Delhi")
sub_names = list(data["Delhi"].keys())
sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
num_all = []
for name in sub_names:
    num_all.append(len(data["Delhi"][name]["restaurants"].keys()))
assert len(sub_names)==len(num_all)
df = dict(zip(sub_names, num_all))
print(max(df, key=df.get))

Indirapuram

### 4. Name the top 5 Most Expensive Cities in the Datasets.
#### Ans: 
- **Ahmedabad**
- **Agra**
- **Allahabad**
- **Aizawl**
- **Ajmer**

In [126]:
error_cities, city_cost, city_names = [], [], []
for city in cities:
    try:
        region_cost = []
        region_codes = list(data[city]["restaurants"].keys())
        region_codes = [code for code in region_codes if code!="link"]
        for region_code in region_codes:
            try:
                cost = int(data[city]["restaurants"][region_code]["cost"].split()[-1])
            except:
                cost = 0
            region_cost.append(cost)
        city_cost.append(np.mean(region_cost))
        city_names.append(city)
    except:
        # error_cities.append(city) # we have 78 cities to handle
        sub_names = list(data[city].keys())
        sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
        for sub_name in sub_names:
            regions = data[city][sub_name]["restaurants"].keys()
            region_cost = []
            for region in regions:
                try:
                    cost = int(data[city][sub_name]["restaurants"][region]["cost"].split()[-1])
                except:
                    cost = 0
                region_cost.append(cost)
            city_cost.append(np.mean(region_cost))
            city_names.append(city)
    df = dict(zip(city_names, city_cost))

In [127]:
sorted_items = sorted(df.items(), key=lambda x: x[1], reverse=True)
top_5_cities = [item[0] for item in sorted_items[:5]]
top_5_cities

['Ahmedabad', 'Agra', 'Allahabad', 'Aizawl', 'Ajmer']

### 5. List out the top 5 Restaurants with Maximum & minimum ratings throughout the dataset.
#### Top 5 restauarants with maximum ratings: 
- **Pablo Premium Kitchen**
- **Kavya Bakery**
- **Milan Restaurant**
- **Mahi Fast Food**
- **Maa Ki Rasoi**
#### Top 5 restauarants with minumum ratings: 
- **AB FOODS POINT**
- **Janta Sweet House'**
- **theka coffee desi'**
- **Singh Hut'**
- **GRILL MASTERS**

In [128]:
# Top 5 restaurants with Maximum ratings
res, rating = [], []
for city in cities:
    try:
        region_codes = list(data[city]["restaurants"].keys())
        region_codes = [code for code in region_codes if code!="link"]
        for region_code in region_codes:
            res_name = data[city]["restaurants"][region_code]["name"]
            rating_for_res = data[city]["restaurants"][region_code]["rating"]
            if rating_for_res== "--" or "NA": rating_for_res = 0
            res.append(res_name)
            rating.append(float(rating_for_res))
    except:
        sub_names = list(data[city].keys())
        sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
        for sub_name in sub_names:
            regions = data[city][sub_name]["restaurants"].keys()
            for region in regions:
                try:
                    rating_for_res = data[city][sub_name]["restaurants"][region]["rating"]
                    res_name = data[city][sub_name]["restaurants"][region]["name"]
                    if rating_for_res== "--": rating_for_res = 0
                    rating.append(float(rating_for_res))
                    res.append(res_name)
                except: pass
    df_res_rates_all = dict(zip(res, rating)) # this shows the name of restaurants are unique

In [129]:
top_sorted_items = sorted(df_res_rates_all.items(), key=lambda x: x[1], reverse=True)
low_sorted_items = sorted(df_res_rates_all.items(), key=lambda x: x[1], reverse=False)
top_5_res = [item[0] for item in top_sorted_items[:5]]
low_5_res = [item[0] for item in low_sorted_items[:5]]

In [130]:
top_5_res, low_5_res

(['Pablo Premium Kitchen',
  'Kavya Bakery',
  'Milan Restaurant',
  'Mahi Fast Food',
  'Maa Ki Rasoi'],
 ['AB FOODS POINT',
  'Janta Sweet House',
  'theka coffee desi',
  'Singh Hut',
  'GRILL MASTERS'])

### 6. Name of top 5 cities with the highest number of restaurants listed.
- **Bangalore**
- **Delhi**
- **Pune**
- **Hyderabad**
- **Chennai**

In [131]:
city_names, num_of_res = [], []
for city in cities:
    try:
        sub_names = list(data[city]["restaurants"].keys())
        sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
        cnt = len(sub_names)
        if cnt == "NA" or "--": cnt = 0
        city_names.append(city)
        num_of_res.append(cnt)
    except:
        cnt = 0
        sub_names = list(data[city].keys())
        sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
        for sub_name in sub_names:
            regions = data[city][sub_name]["restaurants"].keys()
            cnt+=len(regions)
        city_names.append(city)
        num_of_res.append(cnt)
df = dict(zip(city_names, num_of_res))

In [132]:
# sort the dict, and get the name of cities with top 5 number of restaurants
sorted_df = sorted(df.items(), key=lambda x: x[1], reverse=True)
top_5_cities = [item[0] for item in sorted_df[:5]]
top_5_cities

['Bangalore', 'Delhi', 'Pune', 'Hyderabad', 'Chennai']

### 7. Top 10 cities as per the number of restaurants listed?
- **Bangalore**
- **Delhi**
- **Pune**
- **Hyderabad**
- **Chennai**
- **Kolkata**
- **Mumbai**
- **Jaipur**
- **Gurgaon**
- **Ahmedabad**

In [133]:
top_10_cities = [item[0] for item in sorted_df[:10]]
top_10_cities

['Bangalore',
 'Delhi',
 'Pune',
 'Hyderabad',
 'Chennai',
 'Kolkata',
 'Mumbai',
 'Jaipur',
 'Gurgaon',
 'Ahmedabad']

### 8. Name the top 5 Most Popular Restaurants in Pune.
#### Ans:
- **The Samosa Man**
- **HRX by Eatfit**
- **Miss Gelato**
- **Kushta by Semporo**
- **Roll Over Biryani**

In [134]:
city = "Pune"
rating, res = [], []
sub_names = list(data[city].keys())
sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
for sub_name in sub_names:
    regions = data[city][sub_name]["restaurants"].keys()
    for region in regions:
        try:
            rating_for_res = data[city][sub_name]["restaurants"][region]["rating"]
            res_name = data[city][sub_name]["restaurants"][region]["name"]
            if rating_for_res== "--": rating_for_res = 0
            rating.append(float(rating_for_res))
            res.append(res_name)
        except: pass
df = dict(zip(res, rating))

In [135]:
sorted_df = sorted(df.items(), key=lambda x: x[1], reverse=True)
top_5_in_Pune = [item[0] for item in sorted_df[:5]]
top_5_in_Pune

['The Samosa Man',
 'HRX by Eatfit',
 'Miss Gelato',
 'Kushta by Semporo',
 'Roll Over Biryani']

### 9. Which SubRegion in Delhi is having the least expensive restaurant in terms of cost?
The least cost of the following subregions is **0**
- **South Extension**
- **Malviya Nagar**
- **Dwarka** 
- **Chattarpur**
- **Rohini**

In [136]:
city = "Delhi"
region_costs, region_names = [], []
sub_names = list(data[city].keys())
sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
for sub_name in sub_names:
    regions = data[city][sub_name]["restaurants"].keys()
    for region in regions:
        try:
            cost = int(data[city][sub_name]["restaurants"][region]["cost"].split()[-1])
        except:
            cost = 0
        region_costs.append(cost)
        region_names.append(sub_name)
# df = dict(zip(region_names, region_costs))

In [137]:
# return the leat expensive cost
min_cost = min(region_costs)
# Find the region with 0 costs
indices = [idx for idx in range(len(region_costs)) if region_costs[idx]==min_cost]
print(len(indices)) # there are 306 stores with 0 costs in Delhi city
# extract the name of the subregion, and remove duplicates
dup_names = [region_names[idx] for idx in indices]
list(set(dup_names))
names = [name for name in list(set(dup_names)) if name!="link"]
names

5

['South Extension', 'Malviya Nagar', 'Dwarka', 'Chattarpur', 'Rohini']

### 10. Top 5 most popular restaurant chains in India? Q: w.r.t rating
- **Pablo Premium Kitchen**
- **Kavya Bakery**
- **Milan Restaurant**
- **Mahi Fast Food**
- **Maa Ki Rasoi**

In [138]:
# create df to store whole res names and corresponding ratings 
sorted_df_all = sorted(df_res_rates_all.items(), key=lambda x: x[1], reverse=True)
# sort the df, and extract res with top 5 ratings
top_5_India = [item[0] for item in sorted_df_all[:5]]
top_5_India

['Pablo Premium Kitchen',
 'Kavya Bakery',
 'Milan Restaurant',
 'Mahi Fast Food',
 'Maa Ki Rasoi']

### 11. Which restaurant in Pune has the most number of people visiting?
#### Ans: **NIC Natural Ice Creams**

In [172]:
city = "Pune"
sub_names = list(data[city].keys())
sub_names = [sub_name for sub_name in sub_names if sub_name != "link"]
rating_counts, res_names = [], []
num_regions = 0

for sub_name in sub_names:
    regions = data[city][sub_name]["restaurants"].keys()
    for region in regions:
        num_regions+=1    
        try:
            rating_count = data[city][sub_name]["restaurants"][region]["rating_count"]
            if rating_count == "Too Few Ratings" or rating_count == "NA":
                rating_count = 0
            else:
                rating_count = float(rating_count.split()[0][:-1])
            
            name = data[city][sub_name]["restaurants"][region]["name"]
            res_names.append(name)
            rating_counts.append(rating_count)
        except:
            pass

df = dict(zip(res_names, rating_counts))

In [174]:
# restaurants sorting by rating counts
sorted_df = sorted(df.items(), key=lambda x: x[1], reverse=True)
sorted_df[0][0]

'NIC Natural Ice Creams'

### 12. Top 10 Restaurants with Maximum Ratings in Bangalore (Q: rating or rating_count)
- **HRX by Eatfit**
- **JUST CREAMERY - Artisanal Healthy Ice Cream**
- **Creams and Bites**
- **Bansal's Thali & Combo Meals**
- **The Chinese Connection**
- **THE INDIAN SAMOSA**
- **Mamaji PavBhaji**
- **HUNGER TREATS**
- **Snack Ride**
- **Fresh crunch pizza**

In [194]:
# Extract restaurants with top 10 highest ratings in Banglore
city = "Bangalore"
rating, res = [], []
sub_names = list(data[city].keys())
sub_names = [sub_name for sub_name in sub_names if sub_name!="link"]
for sub_name in sub_names:
    regions = data[city][sub_name]["restaurants"].keys()
    for region in regions:
        try:
            rating_for_res = data[city][sub_name]["restaurants"][region]["rating"]
            res_name = data[city][sub_name]["restaurants"][region]["name"]
            if rating_for_res== "--": rating_for_res = 0
            rating.append(float(rating_for_res))
            res.append(res_name)
        except: pass
df = dict(zip(res, rating))

In [198]:
sorted_df = sorted(df.items(), key=lambda x: x[1], reverse=True)
top_10_Bangalore = [item[0] for item in sorted_df[:10]]
top_10_Bangalore

['HRX by Eatfit',
 'JUST CREAMERY - Artisanal Healthy Ice Cream',
 'Creams and Bites',
 "Bansal's Thali & Combo Meals",
 'The Chinese Connection',
 'THE INDIAN SAMOSA',
 'Mamaji PavBhaji',
 'HUNGER TREATS',
 'Snack Ride',
 'Fresh crunch pizza']

### 13. Top 10 Restaurant in Patna w.r.t rating 
- **Kwality Walls Frozen Dessert and Ice Cream Shop**
- **Slurpy Shakes**
- **Kouzina Kafe The Food Court**
- **Cupcake Bliss Cake & Desserts**
- **Burger It Up**
- **GARAGE KITCHEN**
- **Indiana Burgers**
- **The Dessert Zone**
- **Pure Veg Meals by Lunchbox**
- **KINGDOM OF MOMOS**

In [208]:
# Extract restaurants with top 10 highest ratings in Banglore
city = "Patna"
region_codes = list(data[city]["restaurants"].keys())
region_codes = [code for code in region_codes if code!="link"]
ratings, res_names = [], []
for region_code in region_codes:
    res_name = data[city]["restaurants"][region_code]["name"]
    rating_for_res = data[city]["restaurants"][region_code]["rating"]
    try:
        if rating_for_res== "--" or rating_for_res=="NA": rating_for_res = 0
        ratings.append(float(rating_for_res))
        res_names.append(res_name)
    except:
        pass
df = dict(zip(res_names, ratings))

In [207]:
sorted_df = sorted(df.items(), key=lambda x: x[1], reverse=True)
top_10_Panta = [item[0] for item in sorted_df[:10]]
top_10_Panta

['Kwality Walls Frozen Dessert and Ice Cream Shop',
 'Slurpy Shakes',
 'Kouzina Kafe The Food Court',
 'Cupcake Bliss Cake & Desserts',
 'Burger It Up',
 'GARAGE KITCHEN',
 'Indiana Burgers',
 'The Dessert Zone',
 'Pure Veg Meals by Lunchbox',
 'KINGDOM OF MOMOS']